.result-section {
    margin: 20px 0;
  }
  
  .result-section  .part-section {
    margin-bottom: 30px;
  }
  
  .result-section .part-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .result-section .columns {
    display: flex;
    gap: 10px;
  }
  
  .result-section .column {
    flex: 1;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .result-section .question {
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #4c9da0;
    padding: 2px;
  }

  .result-section .number-box {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 2px solid #112143; /* Viền ô */
    border-radius: 50%; /* Hình tròn */
    background-color: #c2f8ff; /* Nền ô */
    color: #000000; /* Màu chữ */
    margin: 5px;
    font-weight: bold;
  }
  
  .result-section h2{
    align-content: center;
  }