.home-banner {
  width: 100%;
  margin-bottom: 60px;
}

.slide {
  position: relative;
}

.home-banner .banner-content {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 800px;
  text-align: center;
  color: #000;
  z-index: 2;
}

.home-banner h2 {
  font-size: 2.4rem;
  margin-bottom: 15px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 0px 8px #000;
}

.home-banner p {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.home-banner button {
  padding: 8px 16px;
  background: linear-gradient(to right, #416ac2, #6e88c0);
  color: #fff;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.home-banner button:hover {
  background-image: linear-gradient(to right, #4a86a8, #6cb6c0);
  transform: scale(1.05);
}

.slick-dots li button:before {
  font-size: 12px;
  color: #1670d6;
}

.slick-dots li.slick-active button:before {
  color: #1abbe4;
}

/* Responsive với Media Queries */
@media (max-width: 992px) {
  .banner-content {
    max-width: 90%;
  }

  .slide-image {
    height: 40vh; /* Giảm chiều cao trên tablet */
  }

  .banner-content h2 {
    font-size: 2rem;
  }

  .banner-content p {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .slide-image {
    height: 30vh; /* Giảm chiều cao trên mobile */
  }

  .banner-content h2 {
    font-size: 1.8rem;
  }

  .banner-content p {
    font-size: 1.2rem;
  }

  .home-banner button {
    padding: 6px 12px;
    font-size: 1.4rem;
  }
}

@media (max-width: 576.998px) {
  .banner-content {
    bottom: 8%;
  }

  .slide-image {
    height: 15vh; /* Giảm chiều cao hơn nữa */
  }

  .banner-content h2 {
    font-size: 1rem;
  }

  .banner-content p {
    font-size: 0.5rem;
  }

  .home-banner button {
    padding: 5px 10px;
    font-size: 1.2rem;
  }
}

/* Tùy chỉnh dots của slick */
.slick-dots {
  bottom: 10px; /* Đưa dots lên cao hơn để không bị che */
}

.slick-dots li button:before {
  font-size: 12px;
  color: #1670d6;
}

.slick-dots li.slick-active button:before {
  color: #1abbe4;
}
